body {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
    background-color: white;
}

h1 {
    color: #ff6347;
}

.container {
    margin-top: 50px;
}

.button {
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff4500;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.card {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
    background-size: cover;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff6347;
}

.card:hover {
    transform: scale(1.1);
}

.letter {
    font-size: 3em;
    color: #ff6347;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
}

.modal-img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 15px;
}

#guessInput {
    padding: 10px;
    width: 80%;
    font-size: 1.2em;
    margin-top: 10px;
}

.check-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

#superheroeImagen {
    display: block;
    margin: 0 auto;
    height: 300px;
    /* Cambia este valor según el alto que desees */
    width: auto;
    /* Mantén la proporción ajustando solo la altura */
}